*{
 margin:0;
 padding:0;
 font-family: 'Bebas Neue', cursive;
 }

.container{ 
     width:100%;
     height:100vh;
     background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(img/bg.jpeg);           
     background-position:center;
     background-size:cover;
     padding-left:5%;
     padding-right:5%;
     box-sizing:border-box;
}

.navbar{
    height:20%;
    display:flex;
    align-item:center;
}

.logo{
    width:180px;
    height:100px;
    cursor:pointer;
}

.menu{
   width:50px;
   height:50px;
   cursor:pointer;
   margin-left:40px;
}

nav{
  flex:1;
  text-align:right;
}


nav ul li{
    
    margin-top:15px;
    list-style:none;
    display:inline-block;
    margin-left:60px;   
}

nav ul li a{
    font-size:20px;
    text-decoration:none;
    color:#fff;
}

.row{
   display:flex;
   align-items:center;
   height:88%;
   box-sizing:border-box;
}

.col{
   flex-basis:50%;
   height:100%;
   box-sizing:border-box;
   overflow:hidden;
}

h1{
  color:#fff;
  font-size:100px;
}

p{
 color:#fff;
 font-size:20px;
 text-shadow:0 0 5px black;
}

button{
   font-size:30px;
   cursor:pointer;
   width:180px;
   color:#000;
   font-size:12px;
   padding:12px 0px;
   background:#fff;
   border:1px;
   border:20px;
   outline:none;
   border-radius:20px;
   margin-top:20px;
}

.card{
   height:250px;
   width:250px;
   display:inline-block;
   cursor:pointer;
   margin:10px 10px;
   padding:20px 20px;
   border-radius:10px;
   box-sizing:border-box;
   background-position:center;
   background-size:cover;
   transition:transform 0.5s;
}

.card1{
 background-image:url(img/tehri.jpeg);
}

.card2{
background-image:url(img/west_bengal.jpeg);
}
.card3{
background-image:url(img/kashmir.jpeg);
}
.card4{
background-image:url(img/massoorie.jpeg);
}

.card:hover{
   transform: scale(1.5);
   transform:translateY (-10px;);
}